.section1__container{
    max-width: 1440px;
    height: 1025px;
    

.section1__title{
    text-align: center;
width: 188px;
height: 45px;
margin: 60px auto;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: #555555;
}


.section1__header__links{
    max-width: 1440px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        width: 800px;
        height: 60px;
  
        display: flex;
        align-items: center;
        justify-content: 
        space-around;
        li{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;
            a{
                text-decoration-line: none;
font-weight: 600;
font-size: 24px;
line-height: 30px;
color: #C2C2C2;
span{
    color: #7AC751;
}
            }
        }
    }
}
@media (max-width: 413px){
    .firt{
        display: none;
    }
}

// selector master

.section1__father__cont{
    max-width: 1440px;
    flex-wrap: wrap;

    height: 700px;
    margin-top: 57px;
    



    .section1__block1{
        max-width: 1440px;
        height: 320px;
  
    flex-wrap: wrap;

        display: flex;
        align-items: center;
        justify-content: space-around;



        .section1__card1{
      
            height: 320px;
            width: 300px;
            .h6{
    color: #7AC751;
    float: left;
            }
            .h6__text{
                text-decoration-line: line-through;
                padding: 0 5px;
            }
        }

    }








    .section1__block2{
        max-width: 1440px;
        height: 320px;
  
        margin-top: 49px;
    flex-wrap: wrap;

        display: flex;
        align-items: center;
        justify-content: space-around;
        .section1__card1{
      
            height: 320px;
            width: 300px;
            .h6{
    color: #7AC751;
    float: left;
            }
            .h6__text{
                text-decoration-line: line-through;
                padding: 0 5px;
            }
        }
    }
}
@media (max-width: 1290px){
.section1__father__cont{
    .section1__block1{
        #none1{
            display: none;
        }
    }
    .section1__block2{
        #none1{
            display: none;
        }
    }

}
}
@media (max-width: 1011px){
    .section1__block1{
        #none2{
            display: none;
        }
    }
    .section1__block2{
        #none2{
            display: none;
        }
    }
}

@media (max-width: 652px){
    #nnn{
        display: none;
    }
}










}
.sharik__block{
    max-width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .sharik{
        transition: all 0.8s;
        margin: 0 10px;
    }
    .sharik:hover{
        background: aqua;
        border-radius: 50%;
    }
}
















// part3

.section2__big__title{
    max-width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 36px;
    flex-wrap: wrap;
    line-height: 45px;
    text-transform: uppercase;
    color: #555555;
    margin: 70px auto;
}
.section2__block{
    max-width: 1440px;
    height: 300px;
    
    display: flex;
    justify-content:baseline;
    align-items: center;


    .section2__block__cont1{
        max-width: 570px;
height: 249px;
margin: 0 20px;
margin-left: 130px;

background-image: url(../../img/section2/leftimg.png);
background-repeat: no-repeat;
position: relative;

h3{
width: 570px;
height: 28px;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #555555;
margin: 20px 20px;
}
p{
width: 227px;
height: 38px;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #757575;
margin: 0 20px;
}
.card__narx{
    width: 300px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    .q150{
        width: 46px;
height: 21px;
font-weight: 700;
font-size: 18px;
line-height: 120%;
text-align: center;
padding: 10px 10px;
letter-spacing: 0.005em;

color: #7AC751;
    }
    .q250{
        width: 50px;
height: 21px;
font-weight: 600;
font-size: 18px;
text-align: center;
letter-spacing: 0.005em;
text-decoration-line: line-through;
color: #CCCCCC;
    }

    

    button{
        width: 71px;
        height: 13px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        border: none;
        // mmmmmmmm
        width: 91px;
height: 26px;
background: #7AC751;
border-radius: 2px;
    }

    
    
    
}

.auto__block{
    max-width: 300px;
    height: 79px;
    
    display: flex;
    align-items: center;
    justify-content:  space-around;
    .auto__block__item1{
        max-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
height: 40px;
background: #7AC751;
border-radius: 50%;
    }


}




}

.section2__block__cont2{
    max-width: 570px;
    height: 249px;
    margin: 0 20px;
    
    background-image: url(../../img/section2/rightimg.png);
    background-repeat: no-repeat;
    position: relative;
    
    h3{
    width: 570px;
    height: 28px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
    margin: 20px 20px;
    }
    p{
    width: 227px;
    height: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    margin: 0 20px;
    }
    .card__narx{
        width: 300px;
        height: 60px;
  
        display: flex;
        align-items: center;
        justify-content: space-around;
        .q150{
            width: 46px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 0.005em;
    
    color: #7AC751;
        }
        .q250{
            width: 50px;
    height: 21px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
        }
    
        
    
        button{
            width: 71px;
            height: 13px;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
            border: none;
            // mmmmmmmm
            width: 91px;
    height: 26px;
    background: #7AC751;
    border-radius: 2px;
        }
    
        
        
        
    }
    
    .auto__block{
        max-width: 300px;
        height: 79px;
  
        display: flex;
        align-items: center;
        justify-content:  space-around;
        .auto__block__item1{
            max-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
    height: 40px;
    background: #7AC751;
    border-radius: 50%;
        }




    }
}
}


